body{
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
}
a{
    cursor: pointer;
}
input[type="submit"]{
    cursor: pointer;
}
input[type="button"]{
    cursor: pointer;
}

#main-nav{    
    z-index: 2;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 40px;

    background-color: black;

    z-index: 2;
}
#left-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}#left-nav #logo{
    margin-right: 20px;

    height: 70px;
    width: 120px;

    background-size: cover;
    background-image: url("../images/logo.png");
    background-color: transparent;

}
#left-nav a:not(:first-child){
    padding: 5px 10px;
    margin-right: 4px;

    color: white;
    background-color:   rgb(222,0,47);

    border: 2px solid rgb(42,75,129);
    border-radius: 20px;

    font-size: 15px;
    text-decoration: none;
}
#middle-nav form{
    display: flex;
    align-items: center;
}
#middle-nav input{
    padding: 8px 0;
}#middle-nav label{
    width: 35px;
    height: 35px;
}
#middle-nav input[type="text"]{
    padding-left: 5px;
    padding-right:50px;

    width: 80%;
    border: 2px solid white;
}
#search_submitV{

    padding: 22px;

    background-image: url("../images/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: lightgrey;

    border: none;

    cursor: pointer;
}
#right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.loginout-btn{
    padding: 10px 10px;
    margin-right: 5px;

    font-size: 20px;
    text-decoration: none;

    border-radius: 10px;

    color: white;
    background-color: rgb(100, 200, 240);
}#right-nav .loginSignin{
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-pic{
    margin-left: 10px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
}
#signup-btn{
    padding: 10px 10px;

    font-size: 20px;
    text-decoration: none;

    border-radius: 10px;

    color: black;
    background-color: white;
}
#EP{
    display: inline-grid;

    margin-right: 20px;
}