section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
}

#create-btn{
    position: fixed;
    margin-right: 40px;
    margin-bottom: 40px;

    bottom: 0;
    right: 0;

    height: 50px;
    width: 50px;

    background-image: url("../images/add.png");
    background-size: contain;
    background-color: skyblue;

    border: 2px solid black;
    border-radius: 50%;
}

.post-container{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 40px;

    height: 150px;
    width: 80%;

    border: 2px solid black;
    border-radius: 10px;

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2  );
}
.postTitle{
    margin: 0;
    padding-left: 10px;
    background-color: rgb(222,0,47);
    
}
.postContent{
    margin-left: 10px;
}
.otherinfo-container{
    display: flex;
    margin-left: 10px;
    justify-content: space-between;

    width: 14%;

    opacity: 0.8;
}